<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wb.audit.task.mapper.TaskAssignmentMapper">

    <select id="selectById" parameterType="long" resultType="com.wb.audit.task.entity.TaskAssignment">
        SELECT id, task_id, clause_id, assigner_id, assignee_id, node_type, assigned_at, create_time, update_time FROM wb_task_assignment WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.wb.audit.task.entity.TaskAssignment">
        SELECT id, task_id, clause_id, assigner_id, assignee_id, node_type, assigned_at, create_time, update_time FROM wb_task_assignment
    </select>

    <insert id="insert" parameterType="com.wb.audit.task.entity.TaskAssignment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wb_task_assignment (task_id, clause_id, assigner_id, assignee_id, node_type, assigned_at, create_time, update_time)
        VALUES (#{taskId}, #{clauseId}, #{assignerId}, #{assigneeId}, #{nodeType}, #{assignedAt}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM wb_task_assignment WHERE id = #{id}
    </delete>

</mapper>
